
body {
	display: block;
	border: 24px #0C0C10 solid;
	color: #616266;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}


/*  FONTES */
 
 @font-face {
 	font-family: 'Inter';
 	font-style: normal;
 	font-weight: 400;
 	src: url('../fonts/Inter-Regular.woff') format('woff');
 }


 @font-face {
 	font-family: 'Inter';
 	font-style: normal;
 	font-weight: 500;
 	src: url('../fonts/Inter-Medium.woff') format('woff');
 }


 @font-face {
 	font-family: 'Inter';	
 	font-style: normal;
 	font-weight: 700;
 	src: url('../fonts/Inter-Bold.woff') format('woff');
 }


 @font-face {
 	font-family: 'GT America';
 	font-style: normal;
 	font-weight: 900;
 	src: url('../fonts/GT-America-Expanded-Black.woff') format('woff');
 }



/* CONTAINERS */

 .navbar.container {
	margin: auto;
	max-width: 60rem;
	padding: 2.5rem 0;
 }



 .hero {
	margin: auto;
	max-width: 48rem;
	padding: 10rem 0;
 }



 .hero.container {
 	padding: 
 }



 .contribuicoes {
 	margin: auto;
 	max-width: 48rem;
	padding: 0 0 6rem;
 }



 .contribuicoes.wrapper {
 	padding-bottom: 3rem;
 }



 .contato {
 	align-content: center;
 	background-color: #0C0C10;
 }



 .contato-container {
 	display: flex;
 	align-items: center;
	background-color: #0C0C10;
	height: 100vh;
	justify-content: center;
	margin: auto;
	max-width: 48rem;
 }



 .contato-wrapper {
 	display: block;
 	align-items: center;
 	justify-content: center;
 }
 


 .email-wrapper {
 	padding: 6rem 0;
 }


 .social-wrapper {
 	display: flex;
 	align-content: flex-end;
 	align-items: center;
 	justify-content: center;
 }



/* TEXTOS: LIGHT */

 h1 {
  	display: block;
	color: #212126;
	font-family: 'GT America', sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 900;
	letter-spacing: 0.1em;
	margin-bottom: 24px;
	margin-bottom: 1.5em;
	text-align: left;
 }

 .h4-eyebrow {
 	display: block;
 	color: #212126;
 	font-family: 'Inter', sans-serif;
 	font-size: 14px;
 	font-size: 0.875rem;
 	font-weight: 700;
 	letter-spacing: 0.1em;
 	margin: 0;
 }

 .link {
	box-shadow: 0 1px 0 0 #212126;
	color: #212126;
	cursor: pointer;
	text-decoration: none;
 }



 .link:hover {
	box-shadow: 0 6px 0 0 #212126;
 }



 .link.bold {
 	font-weight: 700;
 }



 .link.title {
 	font-size: 20px;
 	font-size: 1.25rem;
 	font-weight: 500;
 }


 .paragraph {
 	display: block;
	font-size: 24px;
	font-size: 1.5rem;
	letter-spacing: -0.03em;
	line-height: 1.7em;
 }


 .paragraph.descricao {
 	font-size: 20px;
 	font-size: 1.25rem;
 	letter-spacing: -0.03em;
 	line-height: 1.7em;
 	margin-top: 0.5em;
 }



/* TEXTOS: DARK */

 .h1.dark {
 	color: #fff;
 	text-align: center;
 }


 .h2.email {
 	letter-spacing: -0.03em;
 	text-align: center;
 }



 .link.dark {
	box-shadow: 0 2px 0 0 #fff;
	color: #fff;
	font-size: 32px;
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 8px;	
 }

 

 .link.dark:hover {
	box-shadow: 0 8px 0 0 #fff;
 }



 .paragraph.dark {
	color: #dadce5;
	text-align: center;
 }



/* MAILTO */

 .mailto-link {
	color: #fff;
	padding: 40px 0;
	position: relative;
	text-decoration: none;
 }
 

 .mailto-link:hover .mailto-message,
 .mailto-link:focus .mailto-message,
 .mailto-link:focus-within .mailto-message {
 	display: block;
 }


 .mailto-message {
 	display: none;
 	top: 1px;
 	left: 50%;
 	width: auto;
 	background-color: black;
 	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0;
	margin-bottom: -5px;
	padding: 4px 20px;
	position: absolute;
	transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	white-space: nowrap;	
 }
 

 .mailto-message:after {
 	content: '';
 }



/* @MEDIA: MOBILE */

 @media screen and (max-width: 479px) {

	body {
		border-width: 0px;
	}



	h1 {
		font-size: 20px;
		font-size: 1,25em;
	}



	.navbar {
		margin: auto;
		padding: 1rem 0;
	}



	.hero-container {
		margin: 12vh 8vw 0;
	}



	.contribuicoes-container {
		margin: 16vh 8vw 6vh;
	}



	.contribuicoes-wrapper {
		padding-bottom: 2em;
	}



	.contato {
		padding: 4vh 8vw 12vh;
	}



	.email-wrapper {
		padding: 24px 0px;
	}



	.social-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 120px;
	}



	.bold-link {
		font-size: 16px;
		font-size: 1em;
		line-height: 1.7em;
		text-decoration: none;
	}



	.bold-link-title {
		font-size: 16px;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.7em;
		text-decoration: none;
	}



	.paragraph-hero {
		font-size: 16px;
		font-size: 1em;
		line-height: 1.7em;
	}



	.paragraph-dark {
		font-size: 16px;
		font-size: 1em;
		line-height: 1.7em;
	}



	.paragraph-descricao {
		font-size: 16px;
		font-size: 1em;
		line-height: 1.7em;
	}



	.paragraph-dark.hint {
		font-size: 12px;
		font-size: 0,75em;
		font-weight: 500;
		letter-spacing: 0.2em;
	}
 }

